@model List<ShoppingCartViewModel>

@{
    ViewBag.Title = "OrderDetail";

    List<MemberViewModel> MemberVMList;
    MemberVMList = ViewBag.MemberVMList;

    MemberViewModel MemberVM;
    if (ViewBag.MemberVMList != null && MemberVMList.Any())
    {
        MemberVMList = ViewBag.MemberVMList;
        MemberVM = MemberVMList.FirstOrDefault();
    }
    else
    {
        MemberVM = new MemberViewModel();
    }

    int CityIndex;
    int RegionIndex;

    string MemberCity="";
    string MemberRegion="";
    string MemberAddress="";

    if (MemberVM.Address != null)
    {
        //縣市
        CityIndex = MemberVM.Address.IndexOf("市");
        if (CityIndex < 0) { CityIndex = MemberVM.Address.IndexOf("縣"); }

        if (CityIndex >= 0) { MemberCity = MemberVM.Address.Substring(0, CityIndex + 1); }
        else { MemberCity = ""; }

        //轄區
        RegionIndex = MemberVM.Address.IndexOf("區");
        if (RegionIndex < 0) { RegionIndex = MemberVM.Address.IndexOf("鎮"); }
        if (RegionIndex < 0) { RegionIndex = MemberVM.Address.IndexOf("鄉"); }

        if (CityIndex >= 0 && RegionIndex >= 0) { MemberRegion = MemberVM.Address.Substring(CityIndex + 1, RegionIndex - CityIndex); }
        else if (RegionIndex >= 0) { MemberRegion = MemberVM.Address.Substring(0, RegionIndex + 1); }
        else { MemberRegion = ""; }

        //地址
        if (RegionIndex >= 0) { MemberAddress = MemberVM.Address.Substring(RegionIndex + 1); }
        else if(CityIndex >= 0) { MemberAddress = MemberVM.Address.Substring(CityIndex + 1); }
        else { MemberAddress = MemberVM.Address; }



        //如果會員資料已經有縣市轄區
        if (MemberVM.City != null && MemberVM.City != "")
        {
            MemberCity = MemberVM.City;
        }

        if (MemberVM.Region != null && MemberVM.Region != "")
        {
            MemberRegion = MemberVM.Region;
        }
    }



}

@section topcss{

    @*OrderDetail CSS*@
    <link href="~/Asset/Css/ShoppingCart/OrderDetail.css" rel="stylesheet" />



    @*Chinese Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    @*English/Numbers Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
}

@section topJS{
    <script src="https://kit.fontawesome.com/d22f4b5afc.js" crossorigin="anonymous"></script>

}

@section endJs{
    @*OrderDetail JS*@
    <script src="~/Asset/Js/ShoppingCart/OrderDetail.js"></script>
    <script src="~/Asset/Js/Order/OrderDetail.js" crossorigin="anonymous"></script>
}



<form method="post" action="Checkout">
    <div class="container">
        <div class="header">
            <div class="header_step">
                <div class="header_step_icon">
                    <div class="header_step_icon_num">
                        <span>1</span>
                    </div>
                    <div class="header_step_line"></div>
                    <div class="header_step_icon_num">
                        <span>2</span>
                    </div>
                    <div class="header_step_line"></div>
                    <div class="header_step_icon_num num3">
                        <span>3</span>
                    </div>
                </div>
                <div class="header_step_txt">
                    <div class="header_step_txt_words">
                        <p>購物車</p>
                    </div>
                    <div class="header_step_txt_words">
                        <h1>選擇配送與付款資訊</h1>
                    </div>
                    <div class="header_step_txt_words">
                        <span>完成訂單</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="step2">

            <!-- 配送方式 -->
            <div class="delivery_option">
                <div class="cart_title">
                    <div class="delivery_option_title cart_titles">
                        <h2>選擇配送方式<span class="starcolor">*</span></h2>
                    </div>
                </div>
                <div class="ask-star"><span class="starcolor">*</span>為必填 <br /></div>
                @*<div class="delivery_option_fee">
            <p>超商取貨未滿350元，酌收訂單處理費50元</p>
        </div>*@
                <div class="delivery_option_body">
                    @*<label class="col-md-3 delivery_option_7-11 delivery_options click_options" id="options for="7Eleven">
                <span class="col-md-1 circle" value="0">
                    <input type="radio" name="DeliveryMethod" id="7Eleven" value="7Eleven">
                </span>
                <span id="option_txt" class="col-md-10">台灣7-ELEVEN取貨</span>
            </label>*@

                    @*<label class="col-md-3 delivery_option_OK delivery_options click_options" id="options2" for="FamilyOKLairfu">
                <span class="col-md-1 circle" value="0">
                    <input type="radio" name="DeliveryMethod" id="FamilyOKLairfu" value="FamilyOKLairfu">
                </span>
                <span id="option_txt" class="col-md-11">台灣全家/OK/萊爾富 取貨</span>
            </label>*@
                    <label class="col-md-3 delivery_option_delivery delivery_options click_options" id="options3" for="homeDelivery">
                        <span class="col-md-1 circle" value="0">
                            <input type="radio" name="DeliveryMethod" id="homeDelivery" value="homeDelivery" required>
                        </span>
                        <span id="option_txt" class="col-md-11">台灣-宅配(台灣地區)</span>
                    </label>
                    <label class="col-md-3 delivery_option_pickup delivery_options click_options" id="options4" for="store">
                        <span class="col-md-1 circle" value="0">
                            <input type="radio" name="DeliveryMethod" id="store" value="store">
                        </span>
                        <span id="option_txt" class="col-md-11">Libreria門市取貨</span>
                    </label>
                </div>
            </div>

            <!-- 訂購人資料 -->
            <div class="subscriber_profile">
                <div class="cart_title">
                    <div class="subscriber_profile_title cart_titles">
                        <h2>訂購人資料</h2>
                    </div>
                </div>
                <div class="subscriber_profile_body">
                    <div class="recipient_profile_name">
                        <p>姓名<span class="starcolor">*</span></p>
                        <input type="text" placeholder="姓名" name="SubscriberName" id="SubscriberName" required value=@MemberVM.memberUserName>
                    </div>
                    <div class="recipient_profile_phone">
                        <p>行動電話<span class="starcolor">*</span></p>
                        <input type="tel" placeholder="號碼" name="SubscriberCellphone" id="SubscriberCellphone" required pattern="\d{10}" value=@MemberVM.MobileNumber>
                    </div>
                    <div class="recipient_profile_homePhone">
                        <p>連絡電話</p>
                        <input type="tel" placeholder="市話" name="SubscriberTelephone" id="SubscriberTelephone" pattern="\d*" value=@MemberVM.HomeNumber>
                    </div>
                    <div class="recipient_profile_address">
                        <p>地址<span class="starcolor">*</span></p>
                        <div class="recipient_profile_select">
                            <select name="SubscriberAddressCitySelect" id="subscriber_option subscriber_option_counties Region" required>
                                <option id="taiwanAddressNew" value="">請選擇</option>
                                <option value="臺北市">臺北市</option> <!--1-->
                                <option value="新北市">新北市</option> <!--2-->
                                <option value="桃園市">桃園市</option> <!--3-->
                                <option value="臺中市">臺中市</option> <!--4-->
                                <option value="臺南市">臺南市</option> <!--5-->
                                <option value="高雄市">高雄市</option> <!--6-->
                                <option value="基隆市">基隆市</option> <!--7-->
                                <option value="新竹市">新竹市</option> <!--8-->
                                <option value="嘉義市">嘉義市</option> <!--9-->
                                <option value="新竹縣">新竹縣</option> <!--10-->
                                <option value="苗栗縣">苗栗縣</option> <!--11-->
                                <option value="彰化縣">彰化縣</option> <!--12-->
                                <option value="南投縣">南投縣</option> <!--13-->
                                <option value="雲林縣">雲林縣</option> <!--14-->
                                <option value="嘉義縣">嘉義縣</option> <!--15-->
                                <option value="屏東縣">屏東縣</option> <!--16-->
                                <option value="宜蘭縣">宜蘭縣</option> <!--17-->
                                <option value="花蓮縣">花蓮縣</option> <!--18-->
                                <option value="臺東縣">臺東縣</option> <!--19-->
                                <option value="澎湖縣">澎湖縣</option> <!--20-->
                                <option value="金門縣">金門縣</option> <!--21-->
                                <option value="連江縣">連江縣</option> <!--22-->
                                @if (MemberCity != "")
                                {
                                    <option value=@MemberCity selected>@MemberCity</option> <!--最後一項-->
                                }
                            </select>
                            <select name="SubscriberAddressRegionSelect" id="subscriber_option_district Town" required>
                                <option value="">請選擇</option>
                                @if (MemberRegion != "")
                                {
                                    <option value=@MemberRegion selected>@MemberRegion</option> <!--最後一項-->
                                }
                            </select>
                        </div>
                    </div>
                    <div class="recipient_profile_address_txt">
                        <input type="text" placeholder="詳細地址" name="SubscriberAddress" id="SubscriberAddress" required value=@MemberAddress>
                    </div>
                    <div class="recipient_profile_postalCode">
                        <p>郵遞區號<span class="starcolor">*</span></p>
                        <input type="text" placeholder="郵遞區號" name="SubscriberPostalCode" id="SubscriberPostalCode" required pattern="\d*">
                    </div>
                </div>
            </div>

            <!-- 收件人資料 -->
            <div class="recipient_profile">
                <div class="cart_title">
                    <div class="recipient_profile_title cart_titles">
                        <h2>收件人資料</h2>
                    </div>
                </div>
                <input type="checkbox" class="SubscriberEqualRecipient-button align-middle" id="SubscriberEqualRecipient"><span>同訂購人資料</span>
                <div class="recipient_profile_body">
                    <div class="recipient_profile_name">
                        <p>姓名<span class="starcolor">*</span></p>
                        <div class="recipient_profile_name_input">
                            <input type="text" placeholder="姓名" name="RecipientName" id="RecipientName" required>
                        </div>
                    </div>
                    <div class="recipient_profile_phone_tel">
                        <div class="recipient_profile_phone">
                            <p>行動電話<span class="starcolor">*</span></p>
                            <input type="tel" placeholder="號碼" name="RecipientCellphone" id="RecipientCellphone" required pattern="\d{10}">
                        </div>
                    </div>
                    <div class="recipient_profile_homePhone">
                        <p>連絡電話</p>
                        <input type="tel" placeholder="市話" name="RecipientTelephone" id="RecipientTelephone" pattern="\d*">
                    </div>
                    <div class="recipient_profile_address">
                        <p>地址<span class="starcolor">*</span></p>
                        <div class="recipient_profile_select">
                            <select name="AddressCitySelect" id="recipient_option recipient_option_counties Region" required>
                                <option id="DefaultOption" value="">請選擇</option>
                                <option value="臺北市">臺北市</option> <!--1-->
                                <option value="新北市">新北市</option> <!--2-->
                                <option value="桃園市">桃園市</option> <!--3-->
                                <option value="臺中市">臺中市</option> <!--4-->
                                <option value="臺南市">臺南市</option> <!--5-->
                                <option value="高雄市">高雄市</option> <!--6-->
                                <option value="基隆市">基隆市</option> <!--7-->
                                <option value="新竹市">新竹市</option> <!--8-->
                                <option value="嘉義市">嘉義市</option> <!--9-->
                                <option value="新竹縣">新竹縣</option> <!--10-->
                                <option value="苗栗縣">苗栗縣</option> <!--11-->
                                <option value="彰化縣">彰化縣</option> <!--12-->
                                <option value="南投縣">南投縣</option> <!--13-->
                                <option value="雲林縣">雲林縣</option> <!--14-->
                                <option value="嘉義縣">嘉義縣</option> <!--15-->
                                <option value="屏東縣">屏東縣</option> <!--16-->
                                <option value="宜蘭縣">宜蘭縣</option> <!--17-->
                                <option value="花蓮縣">花蓮縣</option> <!--18-->
                                <option value="臺東縣">臺東縣</option> <!--19-->
                                <option value="澎湖縣">澎湖縣</option> <!--20-->
                                <option value="金門縣">金門縣</option> <!--21-->
                                <option value="連江縣">連江縣</option> <!--22-->
                            </select>
                            <select name="AddressRegionSelect" id="recipient_option_district Town" required>
                                <option id="DefaultOption" value="">請選擇</option>
                            </select>
                        </div>
                    </div>
                    <div class="recipient_profile_address_txt">
                        <input type="text" placeholder="詳細地址" name="RecipientAddress" id="RecipientAddress" required>
                    </div>
                    <div class="recipient_profile_postalCode">
                        <p>郵遞區號<span class="starcolor">*</span></p>
                        <input type="text" placeholder="郵遞區號" name="RecipientPostalCode" id="RecipientPostalCode" required pattern="\d*">
                    </div>
                </div>
            </div>

            <!-- 付款方式 -->
            <div class="payment_options">
                <div class="cart_title">
                    <div class="payment_options_title cart_titles">
                        <h2>付款方式<span class="starcolor">*</span></h2>
                    </div>
                    <div class="payment_options_body">
                        <label class="col-md-3 payment_optionss click_options2" id="options5" for="pickUp">
                            <span class="col-md-1 circle" value="0">
                                <input type="radio" name="PaymentMethod" id="pickUp" value="1" required>
                            </span>
                            <span id="option_txt" class="col-md-11 col-md-11">取貨付款</span>
                        </label>
                       
                        <label class="col-md-3 payment_options_cradit payment_optionss click_options2" id="options7" for="creditCard">
                            <span class="col-md-1 circle" value="0">
                                <input type="radio" name="PaymentMethod" id="creditCard" value="3">
                            </span>
                            <span id="option_txt" class="col-md-11">信用卡一次付清</span>
                        </label>
                       
                    </div>
                </div>
            </div>
            <!-- 發票資訊 -->
            <div class="invoice_profile">
                <div class="cart_title">
                    <div class="invoice_profile_title cart_titles">
                        <h2>發票資訊</h2>
                    </div>
                </div>
                <div class="invoice_profile_body">
                    <div class="invoice_profile_txt" id="invoice_profile_title">
                        <p>※ 您的發票預設為電子發票託管，若中獎我們將於月底發出E-mail通知並以掛號方式把中獎發票寄給您</p>
                    </div>
                    <div class="invoice_profile_select">
                        <select id="select" name="Invoice">
                            <option value="1">二聯式電子發票(存入會員帳號)</option>
                            <option value="2">二聯式電子發票(手機條碼載具)</option>
                            <option value="3">二聯式電子發票(自然人憑證載具)</option>
                            <option value="4">二聯式電子發票(紙本證明聯)</option>
                            <option value="5">三聯式電子發票</option>
                            <option value="6">發票捐贈</option>
                        </select>
                    </div>
                    <div class="invoice_profile_active">
                        <div class="active_title_input">
                            <div class="active_title">
                            </div>
                            <div class="active_input">
                            </div>
                        </div>
                        <div class="active_txt">
                        </div>
                    </div>
                </div>
            </div>
            <!-- 購物車明細 -->

            <div class="cart_details">
                <div class="cart_title cart_detail_title">
                    <div class="cart_details_title cart_titles">
                        <h2>商品資訊</h2>
                    </div>
                    <div class="cart_details_Discount  cart_details_none">
                        <p>優惠價</p>
                    </div>
                    <div class="cart_details_quantity cart_details_none">
                        <p>數量</p>
                    </div>
                    <div class="cart_details_amount cart_details_none">
                        <p>總計</p>
                    </div>
                </div>
                @foreach (var shoppingCartVM in Model)
                {
                    <div class="cart_details_body_detail">
                        <div class="cart_details_body">
                            <div class="cart_details_pic">
                                <img src=@shoppingCartVM.PicUrl>
                            </div>
                            <div class="cart_details_txt">
                                <p>@shoppingCartVM.ProductName</p>
                            </div>
                            <div class="cart_details_price">
                                <p>@((int)shoppingCartVM.Price)</p>
                            </div>
                        </div>
                        <div class="cart_detail_quantity">
                            <p>@shoppingCartVM.Count</p>
                            <span>@((int)shoppingCartVM.Price*shoppingCartVM.Count)</span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- 商品折扣 -->
        <div class="commodity">
            <div class="commodity_discount">
                <div class="commodity_discount_txt">
                    <p>商品小計</p>
                    @{int PriceSum = 0;}
                    @foreach (var shoppingCartVM in Model)
                    {
                        PriceSum += (int)shoppingCartVM.Price * shoppingCartVM.Count;
                    }
                    <span>@PriceSum</span>
                    <span>-</span>
                    <p>優惠活動</p>
                    <span>0</span>
                    <span>-</span>
                    <p>優惠券</p>
                    <span>0</span>
                    <span>+</span>
                </div>
                <div class="commodity_discount_txt commodity_discount_txt2">
                    <p>訂單處理費</p>
                    <span>
                        0
                    </span>
                </div>
            </div>
            <!-- 商品總計 -->
            <div class="commodity_total">
                <div class="commodity_total_txt">
                    <p>商品總金額</p>
                    @*<span>$1210</span>*@
                    <span>@PriceSum</span>
                    <button type="submit" id="submit">確認結帳</button>
                </div>
            </div>
        </div>



    </div>
</form>


