<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link href="~/Asset/Css/Layout/Nav_bar.css" rel="stylesheet" />
    <link href="~/Asset/Css/Layout/Nav_bar.css" rel="stylesheet" />
    <link href="~/Asset/Css/Layout/Footer.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
    <link href="~/Asset/Css/ShoppingCart/FavMsgPartial.css" rel="stylesheet" />
    <link href="~/Asset/Css/Product/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Asset/Css/Layout/Sidebar.css" rel="stylesheet" />
    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)

    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: white;
        }

        #brand {
            z-index: 2;
        }
    </style>
</head>
<body class="p-0">
    <div class="search_form collapse" id="search_from">
        <form class="form-inline">
            <div class="input-group w-100">
                <input type="search" placeholder="輸入您想搜尋的" class="form-control">
                <class class="input-group-append">
                    <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">搜尋書籍</a>
                        <a class="dropdown-item" href="#">搜尋展覽</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </class>
            </div>
        </form>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" id="nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" id="nav-button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" min-width:100px" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" id="literial_brand">
                    <a href="#" class="nav-link  d-lg-none">
                        <img src="~/Asset/Image/Layout/smlogo.png" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Product/Index">線上購買書籍<span class="sr-only">線上購買書籍(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Exhibition/Index">展演</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Rental/Index">場地租借</a>
                </li>
                <li>
                    <nav class="nav-iconbox  d-lg-none" id="nav-iconbox">
                        <ul class="navbar justify-content-center" id="nav-iconlist">
                            @Html.Partial("../MemberLogin/LoginPartialHambuger")
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-user-alt "></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                            </li>
                            <li class="nav-item" id="search-button">
                                <button class="btn btn-outline-warning my-2 my-sm-0" type="button"
                                        data-toggle="collapse" data-target="#search_from">
                                    <i class="fas fa-search"></i>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="/Home/Index" id="brand">
            <img id="navbar-absolute"
                 src="~/Asset/Image/Layout/Logo-grey.png" alt="">
        </a>
        <nav class="my-2 my-lg-0" id="nav-iconbox">
            <ul class="navbar nav-justified nav mt-2 mr-lg-5" id="nav-iconlist">
                @Html.Partial("../MemberLogin/LoginPartialHambuger")

                <li class="nav-item" id="1">
                    <a href="/MemberCenter/MemberLogin" class="nav-link d-none d-sm-block">
                        <i class="fas fa-user-alt "></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Order/Index" class="nav-link d-none d-sm-block">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item" id="search-button">
                    <button class="btn btn-outline-warning  my-2 my-sm-0" type="button" data-toggle="collapse"
                            data-target="#search_from">
                        <i class="fas fa-search"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </nav>

    <div class="container-fluid body-content col-11 pt-5">



        <div class="row">

            <div id="productPage" class="col-lg-2">

                <div class="column-padding__class w-100">
                    <div class="class__title">
                        <div id="class" class="class-btn button-group">
                            <h2>書籍分類</h2>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="class__list class-btn item-group">

                        @Html.Action("CategoryPartial", "Category")



                    </div>
                </div>
                <div class="column-padding__class--xl ">
                    <div class="class__title--xl class-btn button-group">
                        <h2>書籍分類</h2>
                    </div>
                    <div class="class__list--xl class-btn item-group ">

                        <a href="#">@Html.Action("CategoryPartial", "Category")</a>


                    </div>
                </div>


            </div>
            <div class="col-lg-10">
                @RenderBody()
            </div>

        </div>

    </div>
    <section class="footer px-5">
        <div class="container">
            <div class="row d-flex pt-5">
                <div class="col-sm-12 col-md-2 order-sm-2 footer-company">
                    <div class="row d-flex flex-column">
                        <h5>Company</h5>
                        <a href="#">About</a>
                        <a href="#">Blog</a>
                        <a href="#">Contact Us</a>
                    </div>

                </div>
                <div class="col-sm-12 col-md-2  order-sm-3 footer-account ">
                    <div class="row d-flex flex-column">
                        <h5>Account</h5>
                        <a href="#">Payment</a>
                        <a href="#">Subscriptions</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2  order-sm-4 footer-help ">
                    <div class="row d-flex flex-column">
                        <h5>Help</h5>
                        <a href="#">Support</a>
                    </div>

                </div>
                <div class="d-none d-md-block col-sm-6 col-md-6 order-sm-1 order-md-4 footer-logo pt-3 pb-3 px-0">
                    <div class="pic"><img src="~/Asset/Image/smlogo_v2.png" alt=""></div>
                </div>

                <div class="col-sm-12 order-sm-5 footer-phone">
                    <p>
                        <span><i class="fas fa-phone-square-alt"></i>02-26343434</span><span>
                            <i class="fas fa-phone-square-alt"></i>liberia@gmail.com
                        </span> <span>
                            <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i>
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </section>

    @Html.Action("FavMsgPartial")
    <script>

        //排除漢堡被打開後，RWD沒漢堡的情況下會自動收合
        let mediaQueryList = window.matchMedia("(min-width:992px)");
        function screenTest(x) {
            if (x.matches) {
                document.getElementById("navbarToggler").classList.remove("show");
            }
        }
        mediaQueryList.addListener(screenTest);



        function AddCart(id) {
            let productId = id;


            $.ajax({
                type: "POST",
                url: "/Order/AddToCart",
                data: { Id: productId },
                dataType: "text",
                success: function (response) {
                    addProduct(response);
                }
            });
        }


        function AddFavorite(id) {
            let favId = id;

            $.ajax({
                    type: "Post",
                    url: "/Order/Redirect",
                    success: function (result) {
                        if (result == 1) {
                            $.ajax({
                                type: "POST",
                                url: "/MemberCenter/AddToFavorite",
                                data: { Id: favId },
                                dataType: "text",
                                success: function (response) {
                                    document.querySelector(".FavMsg-wrap").setAttribute("style", "display:flex")
                                    var time = window.setTimeout((() => document.querySelector(".FavMsg-wrap").setAttribute("style", "display:none")), 100000)
                                }
                            });
                        }
                        else {
                            window.location.href = "@Url.Action("Index", "MemberLogin")";
                        }
                    }
            });

        }
    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("endCss", required: false)
    @RenderSection("endJs", required: false)
    @section endJs{
        <script src="~/Asset/Js/Product/sidenav-toggle.js"></script>






    }
</body>
</html>
