@model List<ProductViewModel>


@section topCss{
    <link href="~/Asset/Css/Product/ProductCategory.css" rel="stylesheet" />
    <link href="~/Asset/Css/PartialView/category-sidenav.css" rel="stylesheet" />


}
@section topJs{
    <script src="https://kit.fontawesome.com/b4e5145ad1.js" crossorigin="anonymous"></script>
}



<div class="container-fluid col-12" style="padding-top: 80px;">
    <section class="product-index">
        <div class="main ">
            <div class="container-fluid">
                <div class="product-breadcrumb">
                    <a href="/Product/Index">首頁</a>
                    <i class="fas fa-chevron-right"></i>
                    <a href="#">@ViewBag.Name</a>
                </div>
                <div class="row">

                    <div class="main-result col-lg-12 flex-wrap">


                        <div class="render-section">

                            <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                                <div class="cbp-vm-options d-flex">
                                    <div class="search-result-status ">
                                        <div class="search-result-num d-flex">

                                            <div>共有<span class="search-result-total"></span>筆商品</div>
                                        </div>
                                    </div>
                                    <a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected"
                                       data-view="cbp-vm-view-grid"><i class="fas fa-th"></i></a>
                                    <a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">
                                        <i class="fas fa-list"></i>
                                    </a>

                                </div>
                                <div class="sort-box">
                                    <span col-lg-1>排序</span>
                                    <button class="col-lg-2 sort-btn-price sort-btn" data-type="price">
                                        @Html.ActionLink("價格排序低到高", "ProductCategory", new { CategoryId = ViewBag.CategoryId, Order = 1 })
                                    </button>
                                    <button class="col-lg-2 sort-btn">@Html.ActionLink("上市日期排序", "ProductCategory", new { CategoryId = ViewBag.CategoryId, Order = 2 })</button>
                                </div>
                                <ul>


                                    @foreach (var item in Model)
                                    {

                                        <li class="book-list">
                                            <a class="cbp-vm-image" href="@Url.Action("ProductDetail", "Product", new { id = item.Id }, null)"><img src="@item.MainUrl"></a>
                                            <h3 class="cbp-vm-title">  @Html.ActionLink(@item.Name, "ProductDetail", "Product", new { id = item.Id }, null)</h3>
                                            <div class="cbp-vm-price">NT$ <span>@(String.Format("{0:N0}",item.UnitPrice))</span></div>
                                            <div class="cbp-vm-details">
                                                @item.Author
                                            </div>
                                            <button class="cbp-vm-icon cbp-vm-add" onclick="AddCart(@item.Id)">加入購物車</button>
                                            <a id="wish" class="wish-list " onclick="AddFavorite(@item.Id)">
                                                @{if (item.isFav == true)
                                                    {
                                                        <i class="fas fa-heart"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="far fa-heart"></i>
                                                    }
                                                }
                                            </a>
                                        </li>

                                    }
                                </ul>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </section>
</div>





@section EndJs{
    <script src="~/Asset/Js/Product/ProductCategory.js"></script>

    <script>
        function AddCart(id) {
            let productId = id;

            $.ajax({
                type: "POST",
                url: "/Order/AddToCart",
                data: { Id: productId },
                dataType: "text",
                success: function (response) {
                    alert(response);
                    $("#MyCart").text("購物車(" + response + ")");
                }
            });
        }

        let wish = document.querySelectorAll("#wish");
        wish.forEach((x) => {
            x.addEventListener("click", function () {
                x.innerHTML = "<i class='fas fa-heart'></i>";
            })
        });

        function AddFavorite(id) {
            let favId = id;
            $.ajax({
                    type: "Post",
                    url: "/Order/Redirect",
                    success: function (result) {
                        if (result == 1) {
                            $.ajax({
                                type: "POST",
                                url: "/MemberCenter/AddToFavorite",
                                data: { Id: favId },
                                dataType: "text",
                                success: function (response) {
                                    alert("成功");
                                }
                            });
                        }
                        else {
                            window.location.href = "@Url.Action("Index", "MemberLogin")";
                        }
                    }
                    });
            
        }

    </script>

}