@model ProductViewModel



@section topCss{
    <link href="~/Asset/Css/Product/ProductDetail.css" rel="stylesheet" />
    <link href="~/Asset/Css/PartialView/category-sidenav.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "ProductDetail";
}



<section class="book-detail">
    <div class="container col-11">
        <div class="row ">
            <div class="col-sm-12 breadcrumb d-none d-md-block">
                <a href="@Url.Action("Index", "Home")">首頁</a> 
                <a href="@Url.Action("ProductCategory", "Product", new { CategoryId = Model.CategoryId })">@Model.CategoryName</a>
                <a href="#">@Model.Name</a>
            </div>
            <div class="breadcrumb breadcrumb-sm d-sm-block d-md-none">
                <a href="@Url.Action("ProductCategory", "Product", new { CategoryId = Model.CategoryId })">回到 @Model.CategoryName</a>
            </div>
            <div class="detail-main ">
               

            </div>
            <div class="detail-main col-lg-10 d-flex">
                <div class="preview col-8">
                    <div class="col-12 detail-product px-5">
                       
                        <div class="detail-title">
                            <h1>@Model.Name</h1>
                            <h3><span>作者</span>@Model.Author</h3>
                            <hr>
                            <h5>簡介</h5>
                            <p>
                                @Model.Introduction
                            </p>
                            <p>
                                你的一點小改變、一個好習慣，將會產生複利效應，<br>
                                如滾雪球般，為你帶來豐碩的人生成果！
                            </p>
                            <p>
                                一出版立刻風行全球，<br>
                                企業界、運動界、教育界、瘦身界都在用的習慣養成實作指南！
                            </p>
                            <p class="hype">
                                <strong>★Amazon、《紐約時報》《華爾街日報》《今日美國報》《出版人週刊》暢銷書</strong>
                                <br>
                                善用「複利」效應，讓小小的原子習慣利滾利，滾出生命的大不同！
                                天天細微改變，會累積成巨大差異，這就是原子習慣的驚人力量！
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 detail-pricing px-5">
                        <div class="col-lg-12 box">
                            <h2 class="pricing-title">購買書籍</h2>
                            <div class="pricing-figures">
                                <div class="active-price">
                                    您的價格<div class="pricing-wrapper">
                                        <span class="price">NT$@(String.Format("{0:N0}",Model.UnitPrice))</span><span class="price currency">&nbsp;TWD</span>
                                    </div>
                                </div>
                                <button class="purchase-action add-to-cart" onclick="AddCart(@Model.Id)">加入購物車</button>
                                <button class="purchase-action buy-now" onclick="AddCart(@Model.Id)">
                                    <a href="@Url.Action("Index", "Order")">立即购买</a>
                                </button>
                                <button class="purchase-action add-to-wishlist" onclick="AddFavorite(@Model.Id)">新增至我的願望清單</button>
                            </div>
                        </div>
                        <div class="col-8 col-sm-8 col-lg-12 detail-cover px-5 mx-auto my-4">
                            <div class="pic">
                                <div class="pic-content preview-btn">
                                    <img src="@Model.MainUrl" alt="" class="preview-img book-img">
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <div class="preview-img-container">
                                @foreach (var item in Model.PreviewUrls)
                                {
                                    <img src="@item" class="book-img">
                                }
                            </div>
                            <div class="container-fluid ">
                                <div class="row lightbox-container align-items-center">
                                    <div class="col-11 col-md-8  mx-auto text-right lightbox-holder">
                                        <span class="lightbox-close"><i class="fas fa-window-close"></i></span>
                                        <div class="lightbox-item col-10 col-md-11 m-auto"></div>
                                        <span class="lightbox-control btnLeft"><i class="fas fa-chevron-left"></i></span>
                                        <span class="lightbox-control btnRight"><i class="fas fa-chevron-right"></i></span>
                                    </div>
                                </div>
                            </div>


                        <div class="content d-flex flex-wrap">
                            <div class="detail-preview  col-6 col-sm-6 col-md-6 col-lg-12 border-0 preview-btn">
                                <a href="#"><i class="fas fa-search"></i>立即預覽</a>
                                <a href="#">
                                    <i class="fas fa-arrow-to-bottom"></i>儲存預覽
                                </a>
                            </div>

                        </div>

                     
                    </div>

                    <div class="box">
                        <h2 class="pricing-title">購買書籍</h2>
                        <div class="pricing-figures">
                            <div class="active-price">
                                您的價格<div class="pricing-wrapper">
                                    <span class="price">NT$182</span><span class="price currency">&nbsp;TWD</span>
                                </div>
                            </div>
                            <button class="purchase-action add-to-cart">新增至購物車</button>
                            <button class="purchase-action buy-now">立即購買</button>
                            <button class="purchase-action add-to-wishlist">新增至我的願望清單</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>
 

@section EndJs{ 
    <script src="~/Asset/Js/Product/book-reviewer.js"></script>

    <script>
        function AddCart(id) {
            let productId = id;

            $.ajax({
                type: "POST",
                url: "/Order/AddToCart",
                data: { Id: productId },
                dataType: "text",
                success: function (response) {
                    alert(response);
                    $("#MyCart").text("購物車(" + response + ")");
                }
            });
        }

        function AddFavorite(f) {
            let ids = f;

            $.ajax({
                type: "POST",
                url: "/MemberCenter/AddToFavorite",
                data: { Id: ids },
                dataType: "text",
                success: function (response) {
                    alert(response);
                    $("#MyCart").text("購物車(" + response + ")");
                }
            });
        }

    </script>

}