@model List<ProductViewModel>



@foreach (var item in Model)
{


    <li class="book-list">
        <a class="cbp-vm-image" href="@Url.Action("ProductDetail", "Product", new { id = item.Id })"><img src="@item.MainUrl"></a>
        <h3 class="cbp-vm-title">  @Html.ActionLink(@item.Name, "ProductDetail", "Product", new { id = item.Id,style = "text-decoration:none" }, null)</h3>
        <div class="cbp-vm-price">NT$ <span>@(String.Format("{0:N0}",item.UnitPrice))</span></div>
        <div class="cbp-vm-details">
            @item.Author
        </div>
        <a class="cbp-vm-icon cbp-vm-add" href="#">加入購物車</a>
        <a onclick="postValue()" class="wish-list"><i class="fas fa-heart"></i></a>
    </li>
}
