@model IEnumerable<ProductViewModel>

@foreach(var item in Model) {


<div class="col-6 d-flex major">
    <div class="pic col-6">
        <img src="@item.MainUrl" alt="Alternate Text" />
    </div>
    <div class="text col-6">
        <div class="title">  @Html.ActionLink(@item.Name, "ProductDetail", "Product", new { id = item.Id,style = "text-decoration:none" }, null)</div>
        <div class="price">NT$ @(String.Format("{0:N0}",item.UnitPrice))</div>
        <div class="description">@item.Introduction</div>
    </div>
</div>
 }
