@model  IEnumerable<ProductViewModel>


@foreach (var item in Model)
{

<div class="product col-lg-3 pic">
    <div class="book-cover">
        <a class="promote-image" href=" @Url.Action("ProductDetail", "Product", new { id = item.Id }, null)"><img src="@item.MainUrl" alt=""></a>

        <div class="cart">

            <button class="add-to-cart">加入購物車</button>
            <button class="add-to-list">加入收藏</button>
        </div>
    </div>

    <div class="promotion-discount">
        <div class="title"> @Html.ActionLink(@item.Name, "ProductDetail", "Product", new { id = item.Id }, null)</div>
        <p><span>NT$</span>@(String.Format("{0:N0}",item.UnitPrice))</p>
    </div>


</div>
}

