@model Libreria.ViewModels.MemberLoginViewModel


@{
    ViewBag.Title = "Login";
}

@section topCSS {
    <link rel="stylesheet" href="~/Asset/Css/MemberLogin/member-login.css">
}

@section topJS{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Asset/Js/MemberCenter/MemberLogin.js"></script>
    <script type="text/javascript">
        let memberName = '@ViewBag.memberName';
        let memberPassword = '@ViewBag.memberPassword';

        //建立OAuth 身分驗證頁面並導入
        function Auth() {
            var URL = `https://access.line.me/oauth2/v2.1/authorize?`;
            URL += `reponse_type=code`;
            URL += `&client_id=1655754480`;
            URL += `&redirect_uri=https://localhost:44330/MemberCenter/MemberLogin`;
            URL += `scope=openid%20profile`;
            URL += `&state=abced`;
            window.location.href = URL;
        }


        //建立OAuth 身分驗證頁面並導入
        function AuthWithEmail() {
            var URL = `https://access.line.me/oauth2/v2.1/authorize?`;
            URL += `reponse_type=code`;
            URL += `&client_id=1655754480`;
            URL += `&redirect_uri=https://localhost:44330/MemberCenter/MemberLogin`;
            URL += `&scope=openid%20profile%20email`;
            URL += `&state=abcde`;
            window.location.href = URL;
        }
        //Button1 click
        function Button1_click() {

        }
        //Button2 click
        function Button2_click() {
            AuthWithEmail();
        }


    </script>
}
@Html.Partial("../Shared/SuccessOrFail")

<section class="member">
    <div class="container-fluid pt-5 mb-5">
        <div class="row   justify-content-center align-items-center col-sm-12 col-md-10 col-lg-9 m-auto p-0">
            <div class="breadcrumb-member w-100 ">
                <a href="#">首頁</a>
                <i class="fas fa-chevron-right"></i>
                <a href="#">登入會員</a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center col-sm-11 col-md-10 col-lg-9 m-auto ">
            <div class=" member-login  col-sm-12 col-lg-6">
                <div class="login-head">
                    <div class="title">
                        <span>▍</span>
                        <span>登入會員</span>
                        <span>還不是Libreria會員嗎?</span>
                        <a id="login" class="col-6 register" href="../MemberCenter/MemberRegisterPage">註冊會員</a>
                    </div>
                </div>
                @using (Html.BeginForm("Index", "MemberLogin", FormMethod.Post, new { @class = "input-group" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <label>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MemberName, htmlAttributes: new { @class = "control-label col-md-2", @placeholder = "證件號碼/台灣手機/會員卡號/自訂帳號" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </label>
                    <label>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MemberPassword, htmlAttributes: new { @class = "control-label col-md-2", @name = "password", @id = "password", @placeholder = "請輸入密碼", type = "password" })
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.MemberPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MemberPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </label>

                    <div class="g-recaptcha" data-sitekey="6LdHiXIaAAAAAEGQeL96rfsHY_fooaCxQhd0K2t9"></div>

                    <label>
                        <div class="mvc-fix">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Remember)
                                @Html.LabelFor(model => model.Remember, htmlAttributes: new { @class = "control-label d-inline", @style = "font-size: 15px;color: #8a6926;" })
                                @Html.ValidationMessageFor(model => model.Remember, "", new { @class = "text-danger" })
                            </div>

                            <span class="forget-password-span"><a href="@Url.Action("ResetEmail", "MemberLogin")">忘記密碼</a></span> <br />
                        </div>
                    </label>

                    <input type="submit" id="login" value="登入" class="col-6">
                    <a href="@Url.Action("LineLoginDirect")" class="col-6" id="lineLogin">
                        <i class="fab fa-line"></i>
                        LineLogin
                    </a>

                }
            </div>
        </div>
    </div>
</section>

