@section topCSS {
    <link rel="stylesheet" href="~/Asset/Css/MemberLogin/member-login.css">
}
@model Libreria.ViewModels.MemberLoginViewModel


@{
    ViewBag.Title = "Login";
}

<section class="member">
    <div class="container-fluid pt-5 mb-5">
        <div class="row   justify-content-center align-items-center col-sm-12 col-md-10 col-lg-9 m-auto p-0">
            <div class="breadcrumb-member w-100 ">
                <a href="#">首頁</a>
                <i class="fas fa-chevron-right"></i>
                <a href="#">登入會員</a>
            </div>
        </div>
        <div class="row justify-content-center align-items-center col-sm-11 col-md-10 col-lg-9 m-auto ">
            <div class=" member-login  col-sm-12 col-lg-6">
                <div class="login-head">
                    <div class="title">
                        <span>▍</span>
                        <span>登入會員</span>
                    </div>
                </div>
                @using (Html.BeginForm("Index", "MemberLogin", FormMethod.Post, new { @class = "input-group" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <label>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MemberName, htmlAttributes: new { @class = "control-label col-md-2", @placeholder = "證件號碼/台灣手機/會員卡號/自訂帳號" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.MemberName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MemberName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </label>
                    <label>
                        <div class="form-group">
                            @Html.LabelFor(model => model.MemberPassword, htmlAttributes: new { @class = "control-label col-md-2", @name = "password", @id = "password", @placeholder = "請輸入密碼", type = "password" })
                            <div class="col-md-12">
                                @Html.PasswordFor(model => model.MemberPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MemberPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </label>
                    <label>
                        <div class="form-group">
                            
                        </div>
                        <div class="mvc-fix">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Remember)
                                @Html.LabelFor(model => model.Remember, htmlAttributes: new { @class = "control-label d-inline",@style= "font-size: 15px;color: #8a6926;" })
                                @Html.ValidationMessageFor(model => model.Remember, "", new { @class = "text-danger" })
                            </div>
                            <span class="forget-password-span"><a href="#">忘記密碼</a></span> <br />
                        </div>

                    </label>
                    

                    <input type="submit" id="login" value="登入" class="col-6">
                    <a id="login" class="col-6 register" href="../MemberCenter/MemberRegisterPage">註冊會員</a>
                }
            </div>                
        </div>
    </div>
</section>

