@model Libreria.ViewModels.MemberViewModel

@section topCSS{
    <link rel="stylesheet" href="~/Asset/Css/MemberCenter/MemberRegisterPage.css">
}

@{
    ViewBag.Title = "Register";
}

<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="justify-content-center align-items-center col-sm-12 col-md-10 col-lg-9 m-auto p-0">
                <a href="#">首頁</a>
                <i class="fas fa-chevron-right"></i>
                <a href="#">註冊會員</a>
            </div>
        </div>
    </div>
</div>

<div class="register-block">
    <div class="container">
        <div class="row">
            <div class="justify-content-center align-items-center col-sm-12 col-md-10 col-lg-9 m-auto p-0">
                <div class="register-border">
                    <div class="register-form-div">
                        <p class="title">
                            <span>▍</span>
                            <span>註冊會員</span>
                        </p>
                        @using (Html.BeginForm("MemberRegister", "MemberCenter", FormMethod.Post, new { @id = "register-form-id" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.memberName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" name="account" pattern="\w{3,}" placeholder="最少三個字母或數字" /> <br />
                            @Html.LabelFor(model => model.memberPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="password" name="password" id="passwordInput" /> <br />
                            <label>確認密碼</label> <br />
                            <input type="password" name="checkPassword" id="checkPasswordInput" placeholder="再輸入一次密碼" /> <br />
                            @Html.LabelFor(model => model.memberUserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" name="name" /> <br />
                            @Html.LabelFor(model => model.birthday, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="date" name="birthday" /> <br />
                            @Html.LabelFor(model => model.IDnumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" name="IDnumber" /> <br />
                            @Html.RadioButtonFor(model => model.Gender, 0, htmlAttributes: new { @id = "Gendersradio0", @name = "Gender", @class = "control-label col-md-2" })@Html.Label("男")
                            @Html.RadioButtonFor(model => model.Gender, 1, htmlAttributes: new { @id = "Gendersradio0", @name = "Gender", @class = "control-label col-md-2" })@Html.Label("女")
                            @Html.RadioButtonFor(model => model.Gender, 2, htmlAttributes: new { @id = "Gendersradio0", @name = "Gender", @class = "control-label col-md-2" })@Html.Label("其他")<br>
                            @*<input type="radio" name="gender" value="male" />男
            <input type="radio" name="gender" value="female" />女
            <input type="radio" name="gender" value="unknown" /> 未知 <br />*@
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="email" name="email" /> <br />
                            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" name="cellphone" /> <br />
                            @Html.LabelFor(model => model.HomeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" name="telephone" /> <br />
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <input type="text" name="address" /> <br />
                            <div class="button-block">
                                <input class="button" type="reset" name="reset" value="清除" />
                                <input class="button" type="submit" name="submit" id="submitInput" value="送出" /> <br />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section endJS{
    <script src="~/Asset/Js/MemberCenter/MemberRegisterPage.js" crossorigin="anonymous"></script>
}


