@model List<OrderViewModel>

@{
    int sum = 0;
}

@section topCss{
    <link href="~/Asset/Css/MemberCenter/member_order_inquery.css" rel="stylesheet" />

}


<div class="container" style="margin-top:80px;">
    <div class="path">
        <ul>
            <li><a href="#">首頁</a></li>
            <li><a href="#">會員中心</a></li>
            <li><a href="#">我的訂單</a></li>
        </ul>
    </div>

    <div class="health-content">
        <div class="order">
            <div class="order__title" >
                <h2>我的訂單</h2>
                @*<div class="title__item">
                    <p>7-11逾期未領退回: <span>0</span> 件</p>
                    <p>客樂得未領退回: <span>0</span> 件</p>
                </div>*@
                <div class="title__item--narrow-only" style="margin-top:20px;">
                    <p>
                        未出貨:
                        <span>
                            @{ sum = 0;}
                            @foreach (var order in Model)
                            {
                                if (order.Progress == "準備出貨中") { sum++; }
                            }
                            @sum
                        </span>
                    </p>
                    <p>
                        已寄出:
                        <span>
                            @{ sum = 0;}
                            @foreach (var order in Model)
                            {
                                if (order.Progress == "已出貨，尚未送達") { sum++; }
                            }
                            @sum
                        </span>
                    </p>
                    <p>
                        已送達:
                        <span>
                            @{ sum = 0;}
                            @foreach (var order in Model)
                            {
                                if (order.Progress == "貨已送達") { sum++; }
                            }
                            @sum
                        </span>
                    </p>
                </div>
            </div>

            <form method="get">
                <div class="order__inquire section-block">
                    <table>
                        <colgroup>
                            <col width=15%>
                            <col width=85%>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>查詢條件</th>
                                <td>
                                    <input type="radio" name="Inquire" value="oneMonth" id="one-month" checked>
                                    <label for="one-month">一個月內訂單</label>
                                    <input type="radio" name="Inquire" value="notShipped" id="not-Shipped">
                                    <label for="not-Shipped">未出貨訂單</label>
                                    <input type="radio" name="Inquire" value="return" id="return">
                                    <label for="return">退換貨訂單</label>
                                    <input type="radio" name="Inquire" value="sixMonths" id="six-months">
                                    <label for="six-months">六個月內訂單</label>
                                    <input type="radio" name="Inquire" value="history" id="history">
                                    <label for="history">所有訂單</label>
                                </td>
                            </tr>
                            <tr>
                                <th>訂單編號</th>
                                <td>
                                    <input type="radio" name="Inquire" value="transactionId" id="transa-ctionid_radio">
                                    <label for="transa-ctionid_radio">&nbsp;</label>
                                    <input type="number" id="transa-ctionid" name="TransactionId" maxlength="" minlength="">

                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <p>目前僅提供六個月內的交易資料，若您欲查詢六個月前的資料，請您與<a href="#">客服中心</a>聯繫</p>
                    <div class="inquire__btn">
                        <button type="submit">查詢</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="order__content section-block">
            <div class="content__title decoration">
                <h3>
                    @if (ViewBag.Inquire == "history")
                    {
                        <em>所有訂單</em>
                    }
                    else if (ViewBag.Inquire == "oneMonth")
                    {
                        <em>一個月內訂單</em>
                    }
                    else if (ViewBag.Inquire == "sixMonths")
                    {
                        <em>六個月內訂單</em>
                    }
                    else if (ViewBag.Inquire == "notShipped")
                    {
                        <em>未出貨訂單</em>
                    }
                    else if (ViewBag.Inquire == "return")
                    {
                        <em>退換貨訂單</em>
                    }
                    else if (ViewBag.Inquire == "transactionId")
                    {
                        <em>查詢訂單</em>
                    }
                    else
                    {
                        <em>一個月內訂單</em>
                    }
                    <span>共 <cite>@Model.Count</cite> 筆訂單</span>
                </h3>
            </div>
            <div class="content__list">
                <table>
                    <thead>
                        <tr>
                            <th>訂單編號</th>
                            <th>訂購時間</th>
                            <th>付款方式</th>
                            <th>訂單金額</th>
                            <th>商品名稱</th>
                            <th>數量</th>
                            <th>處理狀況</th>
                            <th>詳細資料</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var order in Model)
                            {
                                <tr>
                                    <td>
                                        <!--訂單編號-->
                                        @order.OrderId
                                    </td>
                                    <td>
                                        <!--訂購時間-->
                                        @order.OrderDate
                                    </td>
                                    <!--付款方式-->
                                    <td>
                                        @order.PaymentMethodText
                                    </td>
                                    <td>
                                        <!--訂單金額-->
                                        @((int)order.OrderPrice)
                                    </td>
                                    <td>
                                        <!--商品名稱-->
                                        @foreach (var orderDetail in order.OrderDetailList)
                                        {
                                            @orderDetail.ProductName <br />
                                        }
                                    </td>
                                    <td>
                                        <!--數量-->
                                        @foreach (var orderDetail in order.OrderDetailList)
                                        {
                                            @orderDetail.Quantity <br />
                                        }
                                    </td>
                                    <td>
                                        <!--處理狀況-->
                                        @order.Progress
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id=@("ModalButton"+order.OrderId)>
                                            詳細資料
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">訂單詳細資料</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p id="ModalOrderId">訂單編號：@order.OrderId</p>
                                                        <p id="ModalOrderDate">訂購時間：@order.OrderDate</p>
                                                        <p id="ModalShippingDate">出貨時間：@order.ShippingDate</p>
                                                        <p id="ModalProgress">出貨進度：@order.Progress</p>
                                                        <p id="ModalPaymentMethod">付款方式：@order.PaymentMethodText</p>
                                                        <p id="ModalRecipientName">收件人：@order.RecipientName</p>
                                                        <p id="ModalAddress">收件地址：@order.AddressCitySelect@order.AddressRegionSelect@order.RecipientAddress</p>
                                                        <p id="ModalOrderPrice">訂單金額：@((int)order.OrderPrice)</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        @*<div class="min-Pagination">
            <nav>
                <ul>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>*@

        <div class="order__remarks section-block">
            <div class="remarks__title decoration">
                <h3> <em>備註/說明</em> </h3>
            </div>
            <ul>
                <li>目前僅提供六個月內的交易資料，若您欲查詢六個月前的資料，請您與<a href="#">客服中心</a>聯繫</li>
                <li>為保障彼此之權益，本平台在收到您的訂單後仍保有決定是否接受訂單及出貨與否之權利，本訂單將於平台確認商品之種類、數量、價格及其他重要事項後始成立。</li>
            </ul>
        </div>
    </div>
</div>

@section endJs{
    <script src="~/Asset/Js/MemberCenter/member-MyOrder.js"></script>



    @*訂單詳細資料*@
    <script>
        let ModalButton

        let ModalOrderId = document.getElementById("ModalOrderId");
        let ModalOrderDate = document.getElementById("ModalOrderDate");
        let ModalShippingDate = document.getElementById("ModalShippingDate");
        let ModalPaymentMethod = document.getElementById("ModalPaymentMethod");
        let ModalRecipientName = document.getElementById("ModalRecipientName");
        let ModalAddress = document.getElementById("ModalAddress");
        let ModalOrderPrice = document.getElementById("ModalOrderPrice");
    </script>

    @foreach (var order in Model)
    {
<script>
            ModalButton = document.getElementById("@("ModalButton"+order.OrderId)");
            ModalButton.addEventListener("click", function () {
                ModalOrderId.innerText = "訂單編號：@order.OrderId";
                ModalOrderDate.innerText = "訂購時間：@order.OrderDate";
                ModalShippingDate.innerText = "出貨時間：@order.ShippingDate";
                ModalProgress.innerText = "出貨進度：@order.Progress";
                ModalPaymentMethod.innerText = "付款方式：@order.PaymentMethodText";
                ModalRecipientName.innerText = "收件人：@order.RecipientName";
                ModalAddress.innerText = "收件地址：@order.AddressCitySelect@order.AddressRegionSelect@order.RecipientAddress";
                ModalOrderPrice = "訂單金額：@((int)order.OrderPrice)";
            })


</script>
    }


}




