@model Libreria.ViewModels.PasswordViewModel

<div class="col-12">
    <div class="form-group row">
        @Html.Label("若您為Line登入會員，請使用忘記密碼來重設密碼", new { @class = "col-12 text-secondary  d-flex justify-content-center" })
    </div>
</div>
<div class="col-12">
    <div class="form-group row d-flex justify-content-center">
        @Html.LabelFor(Model => Model.OriginalPassword, new { @class = "form-subtitle col-3 col-xl-1 col-lg-2 text-nowrap" })
        <div class="form-content col-xl-4 col-lg-5 col-9 ">
            <div class="form-row">
                @Html.ValidationMessage("OriginalPassword", new { @class = "text-danger" })
                @Html.PasswordFor(model => model.OriginalPassword, new { @class = "col-12 input form-control" })
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="form-group row d-flex justify-content-center">

        @Html.LabelFor(Model => Model.NewPassword, new { @class = "form-subtitle col-3 col-xl-1 col-lg-2 text-nowrap" })
        <div class="form-content col-xl-4 col-lg-5 col-9 ">
            <div class="form-row">
                @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
                @Html.PasswordFor(model => model.NewPassword, new { @class = "col-12 input form-control" })
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="form-group row d-flex justify-content-center">

        @Html.LabelFor(Model => Model.confirmPassword, new { @class = "form-subtitle col-3 col-xl-1 col-lg-2 text-nowrap" })
        <div class="form-content col-xl-4 col-lg-5 col-9 ">
            <div class="form-row">
                @Html.ValidationMessage("confirmPassword", new { @class = "text-danger" })
                @Html.PasswordFor(model => model.confirmPassword, new { @class = "col-12 input form-control" })
            </div>
        </div>
    </div>
</div>



