@model Libreria.ViewModels.PasswordViewModel

<div class="row">
    <div class="form-group form-input form-row">

        @Html.ValidationMessage("OriginalPassword", new { @class = "text-danger" })
        @Html.LabelFor(Model => Model.OriginalPassword)
        @Html.PasswordFor(model => model.OriginalPassword, new { @class = "col-12 input" })

        @Html.ValidationMessage("NewPassword", new { @class = "text-danger" })
        @Html.LabelFor(Model => Model.NewPassword)
        @Html.PasswordFor(model => model.NewPassword, new { @class = "col-12 input" })

        @Html.ValidationMessage("confirmPassword", new { @class = "text-danger" })
        @Html.LabelFor(Model => Model.confirmPassword)
        @Html.PasswordFor(model => model.confirmPassword, new { @class = "col-12 input" })

    </div>
</div>